@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;800&display=swap");

html {
  height: 100%;
}

body {
  min-width: 620px;
  background-color: #0a174e;
  color: #f5d042;
  font-family: "Noto Sans KR";
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
}

header .header_container {
  margin: 0 20px;
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #f5d042;
  font-family: "Noto Sans KR";
  font-weight: 400;
}

header a {
  font-size: 18px;
}

ul {
  list-style: none;
}

header .logo {
  font-size: 30px;
  font-family: "Noto Sans KR";
  font-weight: 100;
}

header .nav {
  display: flex;
}

.nav li {
  margin: 0 10px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #f5d042;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div {
  color: #0a174e;
  font-size: 25px;
  font-weight: 800;
}

button,
a,
input[type="submit"] {
  transition: 0.3s;
}

button:hover,
a:hover,
input[type="submit"]:hover {
  transform: scale(1.1);
}
