{% extends 'games/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'game_main.css' %}">
    <link rel="stylesheet" href="{% static 'game_attack.css' %}">
{% endblock style %}

{% block games_layout %}
    <div class="main_container">
        <form class="attack-form" action="{% url 'games:game_attack' %}" method="post">{% csrf_token %}
            <div class="select-container">
                <div class="">
                    <label for="card_number">내가 고른 카드</label>
                    <select class="" name="card_number" id="">
                        {% for num in card_numbers %}
                        <option value="{{num}}">{{num}}</option>
                        {% endfor %}
                    </select>
                </div>
                <i class="fas fa-angle-double-right"></i>
                <div class="">
                    <label for="guest">공격할 상대는?</label>
                    <select name="guest" id="">
                        {% for guest in guests %}
                        <option value="{{guest}}">{{guest}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button type="submit" class="submit_btn">공격하기!</button>
        </form>
    </div>
{% endblock games_layout %}

{% block script %}
{% endblock script %}