{% extends "games/layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'game_main.css' %}">
    <link rel="stylesheet" href="{% static 'user_login.css' %}">
{% endblock style %}

{% block games_layout %}
    <div class="main_container">
        <div class="login_container">
            <h1>로그인 페이지</h1>
            <div class="login_btn_container">
                <a href="/accounts/google/login/?process=login"><button>Google 로그인</button></a>
                <a href="/accounts/naver/login/?process=login"><button>Naver 로그인</button></a>
            </div>
        </div>
    </div>
{% endblock games_layout %}
