{% extends "games/layout.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'game_main.css' %}">
    <link rel="stylesheet" href="{% static 'user_logout.css' %}">
{% endblock style %}


{% block games_layout %}
    <div class="main_container">
        <div class="logout_container">
            <h1>로그아웃</h1>
            <p>정말 로그아웃 할건가요????ㅠㅠ</p>
            <div>
                <form action="/accounts/logout/" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="로그아웃">
                </form>
            </div>
        </div>
    </div>
{% endblock games_layout %}
