.logout_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  border: 1px solid #f5d042;
  padding: 20px;
  border-radius: 20px;
}

.logout_container h1 {
  font-size: 30px;
  font-weight: 800;
}

.logout_container input {
  background-color: #f5d042;
  color: #0a174e;
  width: 160px;
  height: 55px;
  border: 1px solid #f5d042;
  border-radius: 40px;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  transition: 0.3s;
}

.logout_container input:hover {
  background-color: #0a174e;
  color: #f5d042;
  transform: scale(0.9);
}
